.navbar-default {
    background-color: #22354c; 
    border-color: #22354c;
}

.navbar-default .navbar-brand{
    color: white;
    font-weight: 600;
}

.navbar-default .navbar-nav>li>a{
    color: #fff;
    /*font-weight: bold;*/
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #ef8002;
}

.panel-default>.panel-heading{
    background-color: #005b94; 
    color: white;
    font-weight: bold;
}