.navbar-default {
    background-color: #d8d8d8; 
    border-color: #e7e7e7;
}

.navbar-default .navbar-brand{
    color: #005b94;
    font-weight: 600;
}

.navbar-default .navbar-nav>li>a{
    color: #fff;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #ef8002;
}

.panel-default>.panel-heading{
    background-color: #005b94; 
    color: white;
    font-weight: bold;
}